{%extends 'base.html'%}

{% block titulo %} Informacion Alumno {% endblock  %}

{% block contenido %}

<div class="card shadow-sm bgcard">
    <div class="card-header">
        <h2 class="mb-0">Información del Alumno</h2>
    </div>
    <div class="card-body bgcard ">
        <ul class="list-group bgcard">
            
            <li class="list-group-item bgfield">
                <strong class="fw-bold">Nombre:</strong>
                Felipe Sanhueza Soto
            </li>
            
            <li class="list-group-item bgfield">
                <strong class="fw-bold">Carrera:</strong>
                Analista Programador
            </li>
            
            <li class="list-group-item bgfield">
                <strong class="fw-bold">Sede:</strong>
                Sede Talca
            </li>

            <li class="list-group-item bgfield">
                <strong class="fw-bold">Correo:</strong>
                Felipe.soto66@inacapmail.cl
            </li>

        </ul>
    </div>
</div>


{% endblock  %}