{% extends 'base.html' %}
{% block titulo %}Lista de Productos{% endblock %}
{% block contenido %}
<div class="card shadow-sm bgcard">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="mb-0">Gestión de Productos</h2>
        <a href="{% url 'crearProducto' %}" class="btn ">
            <i class="bi bi-plus-circle"></i> Nuevo Producto
        </a>
    </div>
    <div class="card-body">
        {% if productos %} <div class="table-responsive ">
                <table class="table  table-hover align-middle bg-black">
                    <thead class="table-dark ">
                        <tr>
                            <th>Nombre</th>
                            <th>Categoría</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.categoria }}</td>
                            <td>${{ producto.precio|floatformat:0 }}</td>
                            <td>{{ producto.stock }}</td>
                            <td>
                                <a href="{% url 'editarProducto' producto.idProducto %}" class="btn  btn-sm" title="Editar"><i class="bi bi-pencil"></i></a>
                                <a href="{% url 'eliminarProducto' producto.idProducto %}" class="btn  btn-sm" title="Eliminar"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert bgenfa" role="alert">
                <i class="bi bi-info-circle-fill"></i> No hay productos registrados todavía.
                <a href="{% url 'crearProducto' %}" class="alert-link">¡Crea el primero!</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}