.bnav{
    background-color: #845ca5;
}

body{
    background-color: #a090b9;
}

.bgcard{
    background-color: #b695c9;
}
.btn{
    background-color: #8d8d8d;
    border: #8d8d8d;
}


.bgenfa{
    background-color: #cac9ca;
}

.bgfield{
    background-color:#bbb4c7 ;
    border:#bbb4c7 ;
}

